@page
@model ExpenseTracker.Pages.Budgets.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create Budget</h1>



<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Budget.UserID" class="control-label">User ID</label>
                <input asp-for="Budget.UserID" class="form-control" />
              
            </div>
            <div class="form-group mt-2">
                <label asp-for="Budget.BudgetName" class="control-label"></label>
                <input asp-for="Budget.BudgetName" class="form-control" />
                <span asp-validation-for="Budget.BudgetName" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Budget.StartDate" class="control-label"></label>
                <input asp-for="Budget.StartDate" class="form-control" />
                <span asp-validation-for="Budget.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Budget.EndDate" class="control-label"></label>
                <input asp-for="Budget.EndDate" class="form-control" />
                <span asp-validation-for="Budget.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group  mt-2">
                <label asp-for="Budget.TotalAmount" class="control-label"></label>
                <input asp-for="Budget.TotalAmount" class="form-control" />
                <span asp-validation-for="Budget.TotalAmount" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                <input type="submit" value="Create" class="btn btn-primary w-100 mb-3" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
